.main-title {
    width: 100%;
    text-align: center;
    color: var(--ion-color-primary);
    margin-top: 0px;
    
    text-transform: uppercase;
}

.logo-img{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 41px;
    display: block;
    margin: 0 auto;
}