<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-sharp"></ion-icon>
      <!-- <ion-icon src="assets/img/home.svg"></ion-icon> -->
      <ion-label>HOME</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="category">
      <ion-icon name="restaurant-sharp"></ion-icon>
      
      <!-- <ion-icon src="assets/img/order.svg"></ion-icon> -->
      <ion-label>ORDER</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart">
      <ion-icon name="basket-sharp"></ion-icon>
      <!-- <ion-icon src="assets/img/cart.svg"></ion-icon> -->
      <ion-label>CART</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="more">
      <ion-icon name="ellipsis-horizontal-sharp"></ion-icon>
      <!-- <ion-icon src="assets/img/more.svg"></ion-icon> -->
      <ion-label>MORE</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs> 