.page-more{
    .more-label{
        text-transform: uppercase;
        font-weight: 800;
    }
    
    .col-padding{
        --ion-grid-column-padding: 20px;
        padding-left: 30px;
    }
    
}