.page-privacy{
    .order-head{
        padding-left: 20px;
      }
      
    .text-ion{
        margin-top: 30px;
        font-size: 35px;
        font-weight: 300;
    }
    
    .text-terms{
        margin: 25px;
        font-size: x-small;
      }    
}