.page-select-restaurant{
    .item-price{
        margin-top: 0px;
        margin-bottom: 0px;
        
    }
    .item-name{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .ion-grid{
        --ion-grid-padding: 10px;
    }
    p{
        margin-top: 0px;
        margin-bottom: 0px;
    }
}